@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/rubik/rubik-400.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    src: url('/fonts/rubik/rubik-700.woff2') format('woff2');
}

@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 800;
    src: url('/fonts/rubik/rubik-800.woff2') format('woff2');
}


/* Ralewy */
@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    src: url('/fonts/raleway/raleway-800.woff2') format('woff2');
}

html {
    height: 100%;

}

body {
    max-width: 1440px;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100%;

    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    line-height: 30px;
    color: #000000;
    background-color: #FFFFFF;
}

.page-header {
    color: #000000;
    background: #FFE17F;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1440px;
    width: 1160px;
}

.main-navigation {
    display: flex;
    width: 1160px;
    height: 300px;
    margin: 0 auto;
}

.navigation-logo {
    display: flex;
    flex-direction: row;
    margin: -23px 0 0 60px;
    padding: 0;
    height: 36px;
}


.nav-list {
    display: flex;
    justify-content: space-between;
    width: 1075px;
    height: 21px;

    margin-top: 49px;
    margin-left: -145px;
}


.nav-list-user{
    margin-right: 40px;
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    color: #000000;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
}

.navigation-list {
    display: flex;
    justify-content: space-between;
    width: 1075px;
    height: 20px;
    margin-top: 113px;
    margin-left: -1080px;
}

.navigation-link {
    font-family: 'Raleway', sans-serif;
    font-size: 21px;
    color: #000000;
    font-weight: 800;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}

/* MAIN */

.main-container {
    flex-grow: 1;
}

.product-device {
    width: 1160px;
    margin-right: auto;
    margin-left: auto;
}

.slick__item {
    display: flex;
}

.slick__item-number {
    display: block;
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 180px;
    line-height: 30px;
    align-items: center;
    text-align: right;
}

.slick__item-product {
    display: flex;
    flex-direction: column;
}

.slick__item-product>h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 50px;
    color:#000000;
}

.slick__item-description>article{
    display: flex;
    flex-direction: column;
}
/* CATALOG */


.catalog-device {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    align-items: center;
    text-align: left;
    width: 1160px;
    margin-left: auto;
    margin-right: auto;
}

.catalog-device__list {
    display: flex;
}

.catalog-device-img {
    margin: 40px 20px 33px;
    width: 160px;
    height: 160px;
    background-color: #FFE17F;
}

.catalog-device-img img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.catalog-device__description {
    width: 160px;
    height: 60px;
    margin: 20px;

    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
}

.catalog-product {
    color: #000000;
    background-color: #E5E5E5;
}

/* DELIVERY */
.blog {
    margin-top: 149px;
    max-width: 1440px;
    width: 1440px;
    display: flex;
    background-color: #F0F0F0;
}

.blog_services {
    padding-left: 140px;
    width: 160px;
    height: 20px;

    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    color:#000000;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}

.blog_services-description>h2 {
    width: 560px;
    height: 60px;
    padding-left: 113px;
    padding-bottom: 14px;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 50px;
    color:#000000;
}

.blog_services-description p {
    width: 497px;
    height: 165px;
    padding-left: 113px;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    color:#444444;
}

/* SUBSRIPTION */

.info {
    width: 1160px;
    margin-left: auto;
    margin-right: auto;
}

.info-container {
    display: flex;
    width: 1160px;
}


.info-delevery {
    display: flex;
    width: 1160px;
    height: 100px;
    padding-top: 90px;
}


.info-delevery-car {
    background-color: #FFE17F;
    width: 125px;
    height: 100px;
}

.info-delevery-img {
    padding: 35px 39px;
    width: 47px;
    height: 31.1px;
}

.info-delevery-desc {
    width: 1035px;
    background-color: #F0F0F0;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 20px;
    text-align: center;
}

/* SUBSCRIPTION */

.subsсription {
    background-color: #F0F0F0;
}

.subsсription-about {
    display: flex;
}

.subscription-head {
    width: 560px;
    height: 120px;
    padding: 70px 40px 20px 140px;

    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 30px;
    line-height: 40px;
}

.subscription-text {
    width: 560px;
    height: 99px;

    padding: 86px 140px 20px 0;
}

.subscription-email {
    padding: 20px 140px 134px;
    display: flex;
}

/* FOOTER */

footer {
    max-width:  1440px;
    max-height: 321px;
    height: 321px;
    padding-top: 62px;
    padding-left: 138px;
    background-color: #444444;
    color: #ffffff;
}

.footer-container {
    display: flex;
}

.contacts-address {
    width: 238px;
    height: 38px;
    margin-top: 35px;
    margin-right: 114px;
    display: flex;

    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
}

.footer-sub {
    display: flex;
    width: 450px;
    height: 20px;
    margin-top: 39px;

    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
}

.footer-sub p {
    padding: 0 10px;
}

.contacts-smart {
    width: 239px;
    height: 37px;
    margin-top: 39px;

    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: #ffffff;
}

.htmlacademy-link {
    display: flex;
    justify-content: flex-end;
    margin-right: 140px;
    margin-top: 57px;
    color: #FFC700;
}

.visually-hidden {
    display: none;
}