@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/rubik/rubik-400.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    src: url('fonts/rubik/rubik-700.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-family: 'Rubik';
    font-style: bold;
    font-weight: 800;
    src: url('fonts/rubik/rubik-800.woff2') format('woff2');
}


/* Ralewy */
@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    src: url('fonts/raleway/raleway-800.woff2') format('woff2');
}

html {
    height: 100%;
}

ul {
    list-style-type: none;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100%;

    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    line-height: 30px;
    color: #000000;
    background-color: #FFFFFF;
}

.page-header {
    color: #000000;
    background: #FFE17F;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1440px;
    width: 1160px;
}

.main-navigation {
    display: flex;
    width: 1160px;
    height: 300px;
    margin: 0 auto;
}

.main-inner {
    padding-top: 5px;
}

.navigation-logo {
    display: flex;
    flex-direction: row;
    margin: -23px 0 0 60px;
    padding: 0;
    height: 36px;
}

.nav-list {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    width: 1075px;
    height: 21px;

    margin-top: 49px;
    margin-left: -145px;
}


.nav-list-user{
    padding: 100px 20px;
    margin-right: 40px;
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    color: #000000;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
}

.navigation-list {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    width: 1075px;
    margin-top: 100px;
    margin-left: -1080px;
}

.navigation-link {
    display: block;
    flex-wrap: wrap;
    padding: 20px 20px;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-size: 18px;
    font-weight: 800;
    line-height: 21px;
    color: #000000;
    letter-spacing: 0.2em;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}

/* MAIN */

.main-container {
    flex-grow: 1;
}


/* Slider  */

.slider-container {
    display: block;
    width: 1160px;
    margin: 0 auto;
    margin-top: -150px;
}

.slider {
    display: flex;
    
}

.slide-1 {
	display: grid;
}
.slide-2,
.slide-3 {
	display: none;
}

.slider-img {
	display: block;
}

.slider__item {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}

.slider__item-number {
   display: flex;
   justify-content: flex-end;
   padding-right: 45px;
   margin-top: 25px;
   margin-bottom: -35px;
}

.slider-item-title {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 45px;
    line-height: 45px;
    color:#000000;
    width: 560px;
    height: 110px;
    margin: 0;
}

.slider__item-text {
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    color: #444444;
    width: 560px;
    height: 80px;
    margin: 0px;
    padding-top: 19px;
    padding-bottom: 30px;
}

.slider__item-link {
    display: block;

    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    width: 220px;
    height: 20px;
    background-color: #FFE17F;
    color: #000000;
    text-decoration: none;
    margin-bottom: 70px;
}

.slider__item-atributes {
	font-family: 'Rubik', sans-serif;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}

.slider__item-atributes h2{
	margin:0;
	padding: 0;
	font-family: 'Rubik', sans-serif;
	font-size: 36px;
	line-height: 30px;
	margin-bottom: 15px;
    color: #000000;
    font-weight: 400;
}

.slider__item-atributes p{
	margin:0;
	padding: 0;
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 400;
	font-size: 16px;
	line-height: 30px;
    color: #444444;
}
.slider__item-atributes:not(:first-child) p{
	margin-right: 66px;
}

/* MAIN_CATALOG */

.main-catalog-header {
    width: 1040px;
    margin-left: auto;
    margin-right: auto;
}

.main-catalog-title {
    margin: 0;
	padding: 0;
    margin-top: 44px;
	margin-bottom: 30px;

    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    line-height: 50px;
    color: #000000;
}

.breadcrumbs-list {
    list-style: none;
	margin: 0;
	padding: 0;
    display: flex;
    flex-direction: row;
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    color: #000000;
    opacity: 0.6;
}

.breadcrumbs-item {
    margin-right: 36px;
    margin-bottom: 49px;
}

/* CATALOG */
.filter-container {
    width: 100%;
    height: 70px;
    background-color: #DCDCDC;
}

.filter-inner-container  {
    display: grid;
    width: 1440px;
    height: 70px;
    padding: 0px; 
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: 468px 1404px;
}

.filter-titel {
    padding: 0px;
    margin: 0px;
    display: grid;
    align-items: center;
    justify-self: end;
    width: 236px;
    height: 20px;

    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #000000;
}

.sorting-container {
    width: 100%;
    display: grid;
	grid-template-columns: max-content 1fr;
	align-items:center;
    background-color:#EBEBEB;
    color: #000000;
}

.sorting-container p {
    margin: 0 70px 0  72px;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #000000;
}

.catalog-product-filter {
    width: 100%;
    background: #E5E5E5;
}

.sorting-container .button {
    width: 56px;
    height: 44px;
}

.catalog-inner-container{
	width: 1440px;
	padding: 0;
	margin: 0 auto;
	display: grid;
	grid-template-columns: 468px 962px;
}

.filter{
	width: 200px;
	margin-right: 68px;
	justify-self: end;
}

.product-all {
    display: grid;

}

.product-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

.product-card {
    padding: 70px 40px 0 75px;
}

.pagintaion-container {
    display: flex;
    padding: 15px;
    background: #EBEBEB;
}

.pagination-show-more {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    text-decoration-style: none;
    border-width: 1px;
}

.pagination {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
    background: #EBEBEB;
}

.pagination-item:not(:last-child) {
    margin-right: 8px;
}



.catalog-device {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    align-items: center;
    text-align: left;
    width: 1160px;
    margin-left: auto;
    margin-right: auto;
}

.catalog-device__list {
    display: flex;
    width: 1160px;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
}

.catalog-device-img:first-child {
    margin-left: 0px;
}

.catalog-device-img {
    display: flex;
    margin: 40px 40px 33px;
    width: 160px;
    height: 160px;
    background-color: #FFE17F;
}

.catalog-device-img img {
    align-self: center;
    margin-left: auto;
    margin-right: auto;
}

.catalog-device__description {
    width: 160px;
    height: 60px;
    padding: 0 20px 20px 0px;

    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
}

.catalog-product {
    color: #000000;
    background-color: #E5E5E5;
}

/* DELIVERY */


 
.blog-container {
	width: 100%;
    margin-top: 149px;
    height: 288px;
    background-color: #F0F0F0;
}

.blog { 
    display: flex;
    width: 1160px;
    margin-left: auto;
    margin-right: auto;
}

.blog_slider {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
     
    width: 160px;
    height: 20px;
    margin-top: -20px;

    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    color:#000000;
    text-align: start;
    text-decoration: none;
    text-transform: uppercase;
}

.blog-slider-label {
    width: 280px;
	font-family: 'Raleway', sans-serif;
    font-style: normal;
	text-align: start;
	font-weight: 800;
	font-size: 18px;
	line-height: 21px;
	letter-spacing: 0.2em;
	text-transform: uppercase;
    margin: 0;
    margin-bottom: 12px;
	padding: 9px 0 9px 20px ;
    cursor: pointer;
    background: #000000;
    color: #FFE17F;
}

.right-side {
    display: flex;
    margin-top: -20px;
    padding-left: 120px;
    margin-left: 120px;
}

.right-side-info {
    display: flex;
    flex-direction: column;
}

.right-side-title {
    width: 560px;
    height: 60px;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 50px;
    color:#000000;
    margin-top: 0;
    margin-bottom: 0;
}

.right-side-text {
    width: 497px;
    
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    color:#444444;
}

.right-side-img {
    margin-top: -20px;
}

/* SUBSRIPTION */

.info {
    width: 1160px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 87px;
}

.info-delevery {
    display: flex;
    width: 1160px;
    height: 100px;
    padding-top: 90px;
    padding-bottom: 97px;
}


.info-delevery-car {
    background-color: #FFE17F;
    width: 125px;
    height: 100px;
}

.info-delevery-img {
    padding: 35px 39px;
    width: 47px;
    height: 31.1px;
}

.info-delevery-desc {
    width: inherit;
    background-color: #F0F0F0;
    display: flex;
    justify-content: center;

    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}

.info-delevery-text {
    height: 20px;
    margin-top: 37px;
}

.info-container {
    display: flex;
    width: 1160px;
}

.info-line {
    background: #000000;
    width: 80px;
    height: 7px;
    margin-bottom: 42px;
}

.info-about-us {
    width: 560px;
    margin-right: 40px;
}

.info-title {
    height: 70px;
    padding-bottom: 26px;
    margin: 0;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    line-height: 50px;
    color: #000000;
}

.info-text {
    margin: 0px;
    padding: 0px;
    margin-bottom: 40px;
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    color: #444444;
}

.info-about-delivery {
    padding: 0px;
    margin: 0px;
    margin-bottom: 52px;
    margin-left: 10px;

    font-family: 'Rubik', sans-serif;
    color: #000000; 
}

.info-about-delivery li {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
    list-style-image: url(../img/Ellipse.svg);
    list-style-position: outside;
    margin-bottom: 20px;
    padding-left: 26px;
}

.info-about-button { 
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #000000;
    background: #FFE17F;
}

.info-contact-us {
    width: 560px;
}

.info-contact-text {
    margin: 0px;
    padding: 0px;
    margin-bottom: 40px;
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    color: #444444;
}

.info-contact-dev {
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    color: #444444;
    margin-top: 0px;
}

.contacts-address {
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding-bottom: 30px;
}

.contacts-address-text {
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    color: #444444;
    margin: 0px;
    width: 513px;
}

.contacts-phone {
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    text-decoration-line: underline;
    color: #444444;
    margin: 0;   
}

.contacts-subtitle {
    font-family: 'Rubik', sans-serif;   
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    color: #444444;
    margin: 0px;
    margin-bottom: 15px;
}

.button-feedback {
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #000000;
    background: #FFE17F;
}

/* SUBSCRIPTION */

.subsсription {
    background-color: #F0F0F0;
    height: 421px;
}

.subscription-container {
    width: 1160px;
    margin-left: auto;
    margin-right: auto;
}

.subsсription-about {
    display: grid;
    grid-template-columns: max-content max-content;
}

.subscription-head {
    width: 560px;
    height: 120px;
    padding: 70px 40px 20px 0;

    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 30px;
    line-height: 40px;
}

.subscription-text {
    width: 560px;
    height: 99px;

    padding: 86px 140px 20px 0;
}

.subscription-email {
    padding: 20px 140px 0 0 ;
    display: grid;
    grid-template-columns: max-content 4fr;
}

.subscription-form {
    display: grid;
    grid-template-columns: max-content max-content;
}

.subscription-input {
    
}

.subscription-free {
    width: 129px;
}

/* FOOTER */

footer {
    height: 321px;
    background-color: #444444;
    color: #ffffff;
}

.footer-container {
    width: 1160px;
    margin-left: auto;
    margin-right: auto;
}

.footer-column1{
    display: grid;
    grid-template-columns: max-content;
    padding-top: 64px;
}

.footer-column2{
    display: grid;
    grid-template-columns: max-content 1fr max-content;
    margin-top: 34px;
}

.footer-column3{
    display: grid;
    grid-template-columns: max-content 1fr max-content;
    padding: 0px;
}

.footer-address {
    width: 238px;
    height: 38px;

    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
}

.footer-menu {
    display: flex;
    width: 450px;
    height: 20px;
    margin-left: 114px;

    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
}

.footer-menu-el {
    width: 148px;
    padding: 0 7px;
}

.footer-tel {
    width: 150px;
    height: 37px;
    margin-top: 10px;
}

.footer-tel-el {
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    text-decoration: none;
    color: #ffffff;
}

.footer-line {
    width: 80px;
    height: 7px;
    margin-top: 66px;
    background: #FFC700;
}

.footer-social-list {
    display: flex;
    justify-content: center;
    
}

.footer-social-item {
    padding-left: 15px;
}

.footer-social-item:first-child {
    padding-left: 0px;
}


.htmlacademy-link {
    padding-top: 53px;
    color: #FFC700;
}



.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}